<%= form_with(model: @client, data: { controller: "form" }) do |form| %>

  <div class="row my-2">
    <div class="col-sm-auto">
      <%= form.label :name %>
    </div>
    <div class="col-sm">
      <%= form.text_field :name, autofocus: true, size: 40 %>
    </div>
  </div>

  <% if @client.persisted? %>

    <input type="submit" value="Update client"
                         class="btn btn-secondary my-1 mr-1">

    <%= link_to "Delete client", client_path(@client),
      method: :delete,
      data: { confirm: "Delete client #{@client.display_name}?" },
      class: "btn btn-secondary my-1 mr-1" %>

    <%= link_to "Cancel", client_path(@client),
      class: "btn btn-secondary my-1 mr-1" %>

  <% else %>

    <input type="submit" value="Add client" class="btn btn-secondary my-1 mr-1">

    <%= link_to "Cancel", clients_path, class: "btn btn-secondary my-1 mr-1" %>

  <% end %>

<% end %>
