<%= form_with(model: @project, data: {controller: 'form'}) do |form| %>
  <%= form.hidden_field :client_id, value: @project.client_id %>

  <div class="row my-2">
    <div class="col-sm-auto">
      <%= form.label :name %>
    </div>
    <div class="col-sm">
      <%= form.text_field :name, autofocus: true %>
    </div>
  </div>

  <% if @project.id %>
    <input type="submit"
           value="Update project"
           class="btn btn-secondary my-1 mr-1">

    <%= link_to 'Delete project', project_path(@project),
        method: :delete,
        data: { confirm: "Delete project #{@project.display_title}?" },
        class: "btn btn-secondary my-1 mr-1"
      %>

    <%= link_to 'Cancel', project_path(@project),
        class: 'btn btn-secondary my-1 mr-1'
      %>

  <% else %>

    <input
      type="submit"
      value="Add project"
      class="btn btn-secondary my-1 mr-1">

    <%= link_to 'Cancel', client_path(@project.client_id),
      class: 'btn btn-secondary my-1 mr-1'
    %>

  <% end %>

<% end %>
