<%= form_with(
      model: @project,
      url: (@project.persisted? ?
        project_path(@project) :
        client_projects_path(@project.client)),
      data: {controller: 'form'}
    ) do |form| %>

  <div class="row my-2">
    <div class="col-sm-auto">
      <%= form.label :name %>
    </div>
    <div class="col-sm">
      <%= form.text_field :name, autofocus: true, size: 40 %>
    </div>
  </div>

  <% if @project.persisted? %>
    <input type="submit"
           value="Update project"
           class="btn btn-secondary my-1 mr-1">

    <%= link_to 'Delete project', project_path(@project),
        method: :delete,
        data: { confirm: "Delete project #{@project.display_title}?" },
        class: "btn btn-secondary my-1 mr-1"
      %>

    <%= link_to 'Cancel', project_path(@project),
        class: 'btn btn-secondary my-1 mr-1'
      %>

  <% else %>

    <input
      type="submit"
      value="Add project"
      class="btn btn-secondary my-1 mr-1">

    <%= link_to 'Cancel', client_path(@project.client),
      class: 'btn btn-secondary my-1 mr-1'
    %>

  <% end %>

<% end %>
