<% @page_title = @project.display_title %>
<% @page_header = project_links(@project) %>
<%= render 'layouts/page-top' %>

<p>
  <%= link_to 'Client', client_path(@project.client) %> |
  <%= link_to 'Edit project', edit_project_path(@project) %> |
  <%= link_to 'New activity', new_project_activity_path(@project) %>
</p>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Start</th>
      <th class="text-right">Length</th>
      <th>Description</th>
    </tr>

    <% @project.activities.order('start desc').each do |activity| %>
      <tr>
        <td>
          <%= link_to(datetime_to_s(activity.start), edit_activity_path(activity)) %>
        </td>
        <td class="text-right"><%= seconds_to_hm(activity.length) %></td>
        <td><%= activity.description %></td>
      </tr>
    <% end %>
  </table>
</div>
