<% @activity_report.days.each do |day| %>
  <div class="all-day">

    <div class="day-line">
      <div><%= day.date %></div>
      <div><%= seconds_to_hms(day.length) %></div>
    </div>

    <% day.tasks.each do |task| %>

      <%= render partial: 'time_line',
          locals: { line_type: 'task', task: task, session: task } %>

      <% if task.sessions.length > 1 %>
        <div class="collapse" id="task-<%= task.id %>">

          <% task.sessions.each do |session| %>
            <%= render partial: 'time_line',
              locals: { line_type: 'session', task: task, session: session }
            %>
          <% end %>

        </div>
      <% end %>

    <% end %>

  </div>
<% end %>
