<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Start</th>
      <th class="text-right">Length</th>
      <th>Activity</th>
      <th>Client</th>
      <th>Project</th>
    </tr>

    <% @activities.each do |activity| %>
      <tr>
        <td>
          <%= link_to(datetime_to_s(activity.start), edit_activity_path(activity)) %>
        </td>
        <td class="text-right"><%= seconds_to_hm(activity.length) %></td>
        <td><%= activity.name %></td>
        <td><%= activity.client_name %></td>
        <td><%= activity.project_name %></td>
      </tr>
    <% end %>
  </table>
</div>
