<% @activity_report.days.each do |day| %>
  <div class="all-day">

    <div class="day-line">
      <div><%= day.date %></div>
      <div><%= seconds_to_hms(day.length) %></div>
    </div>

    <% day.tasks.each do |task| %>

      <%= render partial: "time_line",
          locals: { line_type: "task", task: task, session: task } %>

      <% if task.sessions.length > 1 %>
        <div class="collapse" id="collapse-<%= task.id %>">

          <% task.sessions.each do |session| %>
            <%= render partial: "time_line",
              locals: { line_type: "session", task: task, session: session } %>
          <% end %>

        </div>
      <% end %>

    <% end %>

  </div>
<% end %>

<% if @activity_report.days.count == 0 %>
  <div class="content-panel">
    <p>No activities.</p>
  </div>
<% end %>

<% if @activity_report.more %>
  <div class="load-more">
    <%= button_to "Load more", timer_load_more_path,
        params: { show_days: @activity_report.show_days + 30 },
        method: :post, remote: true,
        form_class: "btn btn-outline-primary" %>
  </div>
<% end %>
