<%= form_with(model: @timer, url: timer_path, class: 'timer-form') do |form| %>

  <div class="left-side">
    <%= form.text_field :name,
        size: activity_name_input_size(@timer.name),
        'data-scope': 'timer.name',
        'data-timer_id': @timer.id,
        placeholder: 'What are you working on?' %>
  </div>

  <div class="right-side">

    <%= form.hidden_field :project_id %>

    <div
      id="timer_project_display"
      class="project-io"
      data-toggle="modal"
      data-target="#project-select"
      data-scope="timer.project"
      data-timer_id="<%= @timer.id %>"
    >
      <% if @timer.persisted? %>
        <div
          class="project-dot"
          style="background-color: <%= @timer.project.hex_color %>;">
        </div>
        <span style="color: <%= @timer.project.hex_color %>;">
          <%= @timer.project.display_name %>
        </span>
        &nbsp;&bull; <%= @timer.project.client.display_name %>
      <% else %>
        Select project
      <% end %>
    </div>

    <% unless @timer.persisted? %>
      <input type="image" src="<%= image_path('play-button.svg') %>"
             alt="Start acitivty">
    <% end %>

    <div id="ticker"><%= show_elapsed(@timer.start) %></div>

    <% if @timer.persisted? %>

      <%= link_to image_pack_tag('check-mark.svg', size: 18,
                                 alt: 'Complete activty'),
        timer_finish_path, method: :post, remote: true %>

      <%= link_to image_pack_tag('cross.svg', size: 15,
                                 alt: 'Cancel activity'),
        timer_path, method: :delete, remote: true %>

    <% end %>

  </div>

<% end %>
