<div
  id="clock-works"
  data-controller="clock"
  data-clock-debug="off"
>

  <%= form_with(model: @timer, url: timer_path, data: {controller: 'form'}) do |form| %>

    <%= form.text_field :name,
        data: { target: 'clock.name' },
        placeholder: 'Activity' %>

    <%= form.select :project_id, @project_options, {},
        data: { target: 'clock.project' } %>

    <% unless @timer.persisted? %>
      <button type="submit"><%= octicon 'play' %></button>
    <% end %>

  <% end %>

  <div id="ticker"><%= show_elapsed(@timer.start) %></div>
  <div id="timer_id" class="d-none"><%= @timer.id %></div>

  <% if @timer.persisted? %>

    <%= link_to octicon('check'),
      timer_finish_path, method: :post, remote: true %>

    <%= link_to octicon('trashcan'),
      timer_path, method: :delete, remote: true %>

  <% end %>

</div>
