<div
  id="clock-works"
  data-controller="clock"
  data-clock-debug="on"
>

  <%= form_with(model: @timer, url: timer_path, data: {controller: 'form'}) do |form| %>

    <%= form.text_field :name,
      data: { target: 'clock.name' },
      placeholder: 'Activity' %>

    <%= form.number_field :project_id,
      data: { target: 'clock.project' },
      placeholder: 'Project' %>

    <% if @timer.persisted? %>

      <button type="submit">
          <%= octicon 'pin' %>
      </button>

    <% else %>

      <button type="submit">
          <%= octicon 'play' %>
      </button>

    <% end %>

  <% end %>

  <div id="timer_start" class="d-none" data-target="clock.start">
    <%= @timer.start %>
  </div>

  <div id="ticker" data-target="clock.ticker"></div>

  <% if @timer.persisted? %>

    <%= link_to octicon('check'),
      timer_finish_path, method: :post, remote: true %>

    <%= link_to octicon('trashcan'),
      timer_path, method: :delete, remote: true %>

  <% end %>

</div>
