<div
  id="clock-works"
  data-controller="clock"
  data-clock-debug="off"
>

  <%= form_with(model: @timer, url: timer_path) do |form| %>

    <div class="align-form">
      <%= form.text_field :name,
          size: 25,
          data: { target: 'clock.name' },
          placeholder: 'What are you working on?' %>

      <%= form.select :project_id, @project_options, {},
          data: { target: 'clock.project' } %>

      <% unless @timer.persisted? %>
        <input type="image" src="<%= image_path('play-button.svg') %>">
      <% end %>
    </div>

  <% end %>

  <div id="ticker"><%= show_elapsed(@timer.start) %></div>

  <% if @timer.persisted? %>

    <%= link_to image_pack_tag('check-mark.svg', size: '23'),
      timer_finish_path, method: :post, remote: true %>

    <%= link_to image_pack_tag('cross.svg', size: '20'),
      timer_path, method: :delete, remote: true %>

  <% end %>

</div>
