<div class="modal fade" id="project-select"
  data-controller="project-select"
  data-project-select-debug="off"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Select project

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <% clients.each do |client| %>
          <% next if client.projects.length == 0 %>
          <% client_name =
             client.name.present? ? client.name : 'NO CLIENT' %>
          <div class="client-line"><%= client_name %></div>

          <% client.projects.each do |project| %>
            <% project_name =
               project.name.present? ? project.name : 'No Project' %>
            <div
              class="project-line"
              data-project_id="<%= project.id %>"
              data-client_name="<%= client_name %>"
              data-project_name="<%= project_name %>"
              data-project_color="<%= project.color %>"
            >
              <div class="project-dot" style="background-color: <%= project.color %>;"></div>
              <%= project_name %>
            </div>
          <% end %>

        <% end %>

      </div>
      <div class="modal-footer">
        <span>+ Create a new project</span>
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
