<div class="time-line">
  <div>
    <% if task.sessions.length > 1 %>
      <% if line_type == 'task' %>
        <div
          class="session-count"
          data-toggle="collapse"
          data-target="#task-<%= task.id %>">
          <%= task.sessions.length %>
        </div>
      <% else %>
        <div class="session-box">&nbsp;</div>
      <% end %>
    <% end %>

    <%
      name_size = task.name.length.to_i
      name_size = 14 if name_size < 14
      name_size = 20 if name_size > 20
    %>

    <%= text_field_tag(:name, task.name,
      'data-scope': "activity.name.#{line_type}",
      'data-id': task.id,
      placeholder: 'Add description',
      size: name_size
    ) %>

    <span
      class="project-io"
      data-toggle="modal"
      data-target="#project-select"
      data-scope="activity.project.<%= line_type %>"
      data-activity_id="<%= session.id %>"
      data-project_id="<%= task.project.id %>"
    >

      <span style="color: <%= task.project.color %>;">
        <%= task.project.name %>
      </span>
      &bull; <%= task.project.client.name %>

    </span>
  </div>

  <div>
    <div class="start-finish">
      <%= datetime_to_time_s(session.start) %> -
      <%= datetime_to_time_s(session.finish) %>
    </div>
    <div class="length-box">
      <%= seconds_to_hms(session.length) %>
    </div>
  </div>
</div>
