<%= form_with(
      model: @activity,
      url: (@activity.persisted? ?
        activity_path(@activity) :
        project_activities_path(@activity.project)),
      data: { controller: 'form' }
    ) do |form| %>

  <div class="row my-2">
    <div class="col-sm-3">
      <%= form.label :start, 'Start time' %><br />
    </div>
    <div class="col-sm-9">
      <%= form.datetime_field :start %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-3">
      <%= form.label :length, 'Length' %>
    </div>
    <div class="col-sm-9">
      <%= form.text_field :length,
        value: (@activity.length.to_i > 0) ? seconds_to_hm(@activity.length) : '',
        placeholder: 'H:MM', autofocus: true
      %>
    </div>

  </div>

  <div class="row my-2">
    <div class="col-sm-3">
      <%= form.label :name, 'Activity' %><br />
    </div>
    <div class="col-sm-9">
      <%= form.text_field :name, class: 'w-75' %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <% if @activity.persisted? %>

        <input class="btn btn-secondary my-1 mr-1" type="submit" value="Update activity">

        <%= link_to 'Delete activity', activity_path(@activity),
          method: :delete,
          data: { confirm: "Delete #{@activity.name}?" },
          class: 'btn btn-secondary my-1 mr-1'
        %>

      <% else %>

        <input class="btn btn-secondary my-1 mr-1" type="submit" value="Add activity">

      <% end %>

      <%= link_to 'Cancel', project_path(@activity.project),
        class: 'btn btn-secondary my-1 mr-1'
      %>

    </div>
  </div>

<% end %>
