<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="<%= image_path("jg-logo-50x50.png") %>">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_title %>">

    <meta name="current-user" content="<%= current_user.try(:id) %>">

    <% if flash[:reload_page] %>
      <meta name="turbolinks-visit-control" content="reload">
    <% end %>

    <%= action_cable_meta_tag %>

    <% if Rails.configuration.relative_url_root.present? %>
      <meta name="relative-url-root" content="<%= Rails.configuration.relative_url_root %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="page-layout">

      <div class="nav-space">
        <div class="nav-panel">
          <%= render "layouts/nav" %>
        </div>
      </div>

      <div class="page-right">
        <% if @custom_page %>
          <%= yield %>
        <% else %>
          <nav class="top-menu">
            <span><%= page_header %></span>
            <%= yield :top_menu %>
          </nav>

          <%= render "layouts/alert_notices" %>

          <div class="content-panel">
            <%= yield %>
          </div>
        <% end %>
      </div>

    </div>
  </body>
</html>
