<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="<%= image_path('jg-logo-50x50.png') %>">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_title %>"/>

    <%= action_cable_meta_tag %>
    <meta name="current-user" id="<%= current_user.try(:id) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-layout">

      <div class="nav-space">
        <div class="nav-panel">
          <%= render 'layouts/nav' %>
        </div>
      </div>

      <div class="content-panel">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
