<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="<%= image_path('jg-logo-50x50.png') %>">

    <title><%= page_title %></title>
    <meta name="description" content="<%= page_title %>"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="container-fluid font-weight-light">

      <%= render 'layouts/banner' %>

      <%= render 'layouts/nav' %>

      <div class="my-3">
        <% if @page_title %>
          <h2 class="text-center"><%= page_title %></h2>
        <% end %>
      </div>

      <% if notice %>
        <p class="text-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="text-danger"><%= alert %></p>
      <% end %>

      <div class="container-fluid mt-3">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
